ProtractorDemos/target/screenshots/818c5204523c58e745b0cb657e096e6e.png
ProtractorDemos/target/screenshots/61420d7fe520c350a5e33ce02b53569d.png
ProtractorDemos/target/screenshots/c0c4f19fcd1ff6e7844ece7ba0a4020a.png
ProtractorDemos/target/screenshots/my-report.html
target/
screenshots/

